TECS433 Assignment 1 Brief.pdf
TECS433 Assignment 1 FInal Draft.pdf
TECS433 Assignment 1 Hints.pdf
TECS433 Assignment 1 Lesson Planning Maths Template.pdf
TECS433 Assignment 1 Lesson Planning Overview Template.pdf
TECS433 Assignment 1 Lesson Planning Topics.pdf
TECS433 Assignment 1 Overview for Lesson Plans.pdf
TECS433 Assignment 1 Slides.pdf
TECS433_Resources_v4.docx

.DS_Store
.claude/
